body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .fix{
    position: fixed;
    z-index: -1;
    top:40px;
    right:50px;
    /* width: 30px; */
    padding-left: 90px;
    padding-top: 40px;
}
